<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="icon" href="https://icons8.com/icon/nkGDoqzPxYM3/calendar">
    <title>Weekie</title>

    <!-- Implementing style sheets as a static resource-->
    <link rel="stylesheet" href="css/styles.css">

    <link rel="icon" href="assets/Icon.png">
</head>
<body>